ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  margin: 0px;
  padding: 0px;
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  width: auto;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.conteiner {
  width: 1460px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -43px;
}

.header_list {
  margin-right: 43px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: #212121;
  cursor: pointer;
}

.header_list:hover, .header_list:focus {
  color: #646464;
}

.header_btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  margin-left: 64px;
  margin-right: 50px;
  width: 97px;
  height: 32px;
  color: #FFFFFF;
  background-color: #37806B;
  border-radius: 15px 0px;
  border: none;
  cursor: pointer;
}

.header_btn:hover, .header_btn:focus {
  background-color: #CAA892;
}

.modern_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.modern_pre-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
  color: #646464;
}

.modern_title {
  width: 549px;
  margin-bottom: 23px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.08;
  color: #212121;
}

.modern_text {
  width: 640px;
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 1.67;
  color: #646464;
}

.modern_btn {
  font-weight: bold;
  font-size: 18px;
  width: 142px;
  height: 42px;
  color: #FFFFFF;
  background-color: #37806B;
  border-radius: 15px 0px;
  border: none;
  cursor: pointer;
}

.modern_btn:hover, .modern_btn:focus {
  background-color: #CAA892;
}

.modern_pages {
  position: relative;
}

.modern_img {
  position: absolute;
  width: 716px;
  height: 626px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
  bottom: 33px;
  right: 35px;
}

.modern_border {
  width: 716px;
  height: 626px;
  border: 2px solid #B0855B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
}

.service {
  padding-bottom: 204px;
}

.service_pre-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.40;
  letter-spacing: -0.01em;
  color: #646464;
}

.service_title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.62;
  color: #212121;
  margin-bottom: 50px;
}

.service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -37px;
}

.service_list {
  width: 425px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 97px;
  padding-right: 21px;
  margin-right: 37px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}

.service_list .service_title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  color: #212121;
  margin-bottom: 8px;
}

.service_list .service_text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.01em;
  color: #646464;
}

.service_list--center {
  width: 425px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 97px;
  padding-right: 21px;
  margin-right: 37px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  background-color: #CAA892;
}

.service_list--center .service_title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.service_list--center .service_text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.about {
  padding-bottom: 256px;
}

.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_pages {
  position: relative;
}

.about_border {
  width: 716px;
  height: 626px;
  border: 2px solid #B0855B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
}

.about_img {
  position: absolute;
  width: 716px;
  height: 626px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
  top: 33px;
  left: 35px;
}

.about_pre-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.50;
  color: #646464;
  margin-bottom: 6px;
}

.about_title {
  width: 477px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.19;
  color: #212121;
  margin-bottom: 22px;
}

.about_text {
  width: 569px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #646464;
  margin-bottom: 46px;
}

.about_btn {
  font-weight: bold;
  font-size: 16px;
  width: 142px;
  height: 42px;
  color: #FFFFFF;
  background-color: #37806B;
  border-radius: 15px 0px;
  border: none;
  cursor: pointer;
}

.about_btn:hover, .about_btn:focus {
  background-color: #CAA892;
}

.touba {
  padding-bottom: 177px;
}

.touba_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.touba_left {
  width: 528px;
}

.touba_left .touba_tite {
  margin-bottom: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.30;
  color: #212121;
  letter-spacing: 0.04em;
}

.touba_left .touba_btn {
  font-weight: bold;
  font-size: 18px;
  width: 142px;
  height: 42px;
  color: #FFFFFF;
  background-color: #37806B;
  border-radius: 15px 0px;
  border: none;
  cursor: pointer;
}

.touba_left .touba_btn:hover, .touba_left .touba_btn:focus {
  background-color: #CAA892;
}

.touba_right {
  position: relative;
}

.touba_right .touba_border {
  width: 716px;
  height: 626px;
  border: 2px solid #B0855B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
}

.touba_right .touba_img {
  position: absolute;
  width: 716px;
  height: 626px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
  bottom: 33px;
  right: 35px;
}

.compledet {
  padding-top: 87px;
  padding-bottom: 105px;
  background-color: #F8F8F8;
}

.compledet_title {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 87px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  color: #212121;
  text-align: center;
}

.compledet_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -201px;
}

.compledet_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 201px;
  padding-top: auto;
  padding-bottom: auto;
  width: 185px;
  height: 182px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}

.compledet_list:nth-child(even) {
  margin-top: 96px;
}

.compledet_titles {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.20;
  color: #212121;
  text-align: center;
}

.compledet_text {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
  text-align: center;
}

.compledet_svg-rel {
  position: relative;
}

.compledet_svg-leri {
  position: absolute;
  top: -37px;
  left: 177px;
}

.compledet_svg-rile {
  position: absolute;
  bottom: 35px;
  left: 185px;
}

.testimonials {
  padding-top: 163px;
  padding-bottom: 99px;
}

.testimonials_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 99px;
}

.testimonials_pre-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #646464;
}

.testimonials_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
  color: #212121;
}

.testimonials_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonials_list {
  width: 480px;
  padding-top: 41px;
  padding-bottom: 60px;
  padding-left: 99px;
  padding-right: 38px;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
}

.testimonials_list .testimonials_title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.37;
  color: #212121;
}

.testimonials_list .testimonials_text {
  font-size: 18px;
  line-height: 1.56;
  color: #646464;
}

.testimonials_list .testimonials_after-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #646464;
}

.testimonials_position {
  position: relative;
}

.testimonials_svg {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -49px;
  left: 449px;
}

.testimonials_img {
  position: absolute;
  border-radius: 35px 0px;
  top: -35px;
  left: -158px;
}

.letest {
  padding-top: 93px;
  padding-bottom: 122px;
  background-color: #F8F8F8;
}

.letest_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 82px;
}

.letest_pre-title {
  margin-bottom: 21px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #646464;
}

.letest_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 0.58;
  color: #212121;
}

.letest_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.letest_list {
  width: 632px;
}

.letest_list .letest_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 0.93;
  color: #212121;
}

.letest_list .letest_text {
  font-size: 18px;
  line-height: 1.56;
  color: #646464;
}

.letest_pages {
  position: relative;
  top: 15px;
  left: 17px;
  margin-bottom: 59px;
}

.letest_border {
  top: 17px;
  left: 15px;
  width: 554px;
  height: 387px;
  border: 2px solid #B0855B;
  border-radius: 100px 0px;
}

.letest_img {
  position: absolute;
  width: 554px;
  height: 387px;
  border-radius: 100px 0px;
  bottom: 17px;
  right: 93px;
}

.letest_btn {
  font-weight: bold;
  font-size: 18px;
  width: 278px;
  height: 54px;
  color: #FFFFFF;
  background-color: #37806B;
  border-radius: 15px 0px;
  border: none;
  cursor: pointer;
}

.letest_btn:hover, .letest_btn:focus {
  background-color: #CAA892;
}

body {
  width: auto;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */