.header {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}

.header_top {
    display: flex;
    align-items: center;
}

.header_item {
    display: flex;
    margin-right: -43px;
}

.header_list {
    margin-right: 43px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: $text-title-color;
    &:hover,
    &:focus {
        color: $text-color;
    }
    cursor: pointer;
}

.header_btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    margin-left: 64px;
    margin-right: 50px;
    width: 97px;
    height: 32px;
    color: $wite-text-color;
    background-color: $button-pre-color;
    border-radius: 15px 0px;
    border: none;
    &:hover,
    &:focus {
        background-color: $button-after-color;
    }
    cursor: pointer;
}